---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import dashboard from "../assets/dashboard.png";
import HeroImage from "./hero-image.astro";
import Starfield from "./starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="h-full w-full bg-slate-900">
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="grid h-full place-items-center lg:grid-cols-2 bg-slate-900">
    <h2
      class="flex flex-col items-center gap-2 sm:gap-4 justify-self-center lg:justify-self-end"
    >
      <div
        class="gradient-text text-center text-gray-100 font-extrabold tracking-tighter text-6xl md:text-8xl m-2"
      >
        Noble Ledger
        <br />
        Documentation
      </div>
    </h2>
    <div
      id="astronaut"
      class="w-1/3 max-w-3xl sm:w-8/12 justify-self-center lg:justify-self-start"
    >
      <Image
        class="ml-6 h-full w-full object-cover"
        src={dashboard}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Noble Ledger finance dashboard"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
