---
import HeroImage from "./hero-image.astro";
import HeroDashboard from "./hero-dashboard.astro";
---

<section class="h-full w-full bg-slate-100 dark:bg-slate-900">
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="grid place-items-center py-12 lg:h-full lg:py-0 lg:grid-cols-2 bg-slate-100 dark:bg-slate-900">
    <h2
      class="flex flex-col items-center gap-2 sm:gap-4 justify-self-center lg:justify-self-end"
    >
      <div
        class="gradient-text text-center text-gray-100 font-extrabold tracking-tighter text-6xl md:text-8xl m-2"
      >
        Noble Ledger
        <br />
        Documentation
      </div>
    </h2>
    <div
      id="astronaut"
      class="w-full px-6 sm:px-0 justify-self-center lg:justify-self-start"
    >
      <HeroDashboard />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
